@using Share.Messages.BeScreens.Login
@using Share.Messages.BeScreens.RecoverPassword
@model Models.Authen.ResetPasswordModel

@{
    ViewBag.Title = RecoverPassword.RecoverPasswordTitle;
}

<div class="page-form">
    <div class="header-content">
        <h1>@ViewBag.Title</h1>
    </div>
    <div class="body-content">
        <p>@RecoverPassword.PleaseEnterNewPassword</p>
        @using (Html.BeginForm(string.Empty, string.Empty, FormMethod.Post, new { id = "formResetPwd", role = "form", @class = "form" }))
        {
            @Html.HiddenFor(m => m.KeyRef)
            @Html.Partial("EditorTemplates/_Notify")
            @Html.ValidationSummary(string.Empty)
            <div class="form-group">
                <div class="input-icon right">
                    <i class="fa fa-key"></i>
                    @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control", autocomplete = "off", maxlength = "50", placeholder = Login.NewPassword })
                </div>
            </div>
            <div class="form-group">
                <div class="input-icon right">
                    <i class="fa fa-key"></i>
                    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", autocomplete = "off", maxlength = "50", placeholder = Login.ConfirmPassword })
                </div>
            </div>
            <div class="form-group">
                <button type="button" onclick="authen.submitResetPassword()" class="btn btn-success">@BackendMessage.Submit</button>
            </div>
            <div class="clearfix"></div>
            
            <hr>

            <div class="form-group">
                <div class="col-md-12">
                    <div class="pull-right cur-pointer" onclick="site.changeLanguage('vi-VN')">
                        <img src="~/Content/styles/images/vietnam.png" width="20" height="20" alt="english-flag" />
                    </div>
                    <div class="pull-right cur-pointer" onclick="site.changeLanguage('en-US')">
                        <img src="~/Content/styles/images/united-kingdom.png" width="20" height="20" alt="english-flag" />
                    </div>
                </div>
            </div>

            <div class="clearfix"></div>
        }
    </div>
</div>

@section PageJavascript
{
    @Scripts.Render("~/js/authen")
    <script type="text/javascript">
        $(document).ready(function () {
            authen.initRecoverPassword({
                saveNewPasswordUrl: "@Url.Action("SaveNewPassword")"
            });
        });
    </script>

}

