@model LamNghiep.DTO.KeHoachCT

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Scripts/jquery-1.10.2.js"></script>
<script src="~/Content/datetimepicker/jquery.datetimepicker.full.js"></script>

<link href="~/Content/datetimepicker/jquery.datetimepicker.min.css" rel="stylesheet" />

<!--Select option-->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.10.0/css/bootstrap-select.min.css">

<!-- Latest compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.10.0/js/bootstrap-select.min.js"></script>

<!-- (Optional) Latest compiled and minified JavaScript translation files -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.10.0/js/i18n/defaults-*.min.js"></script>

<!-- Latest compiled and minified CSS -->
<link href="~/Content/css/stylepage-ct-canhan.css" rel="stylesheet" />
@Html.AntiForgeryToken()
<div class="panel panel-green" id="panels">
    <div class="panel-heading">
        <h4><span class="title-panel"> @Html.ActionLink("Danh sách CT cán bộ", "Index")/ Lập kết hoạch CT Cán bộ</span> </h4>
    </div>
    <div class="panel-body">
        @using (Html.BeginForm())
        {
            <div class="form-horizontal">

                <hr />
                @Html.ValidationSummary(true)
                <div class="form-group has-success">
                    <div class="col-md-3 control-label">Chọn cán bộ cần lập</div>
                    <div class="col-md-5">
                        <select class="selectpicker" multiple>
                            <option>Nguyễn Văn A</option>
                            <optgroup label="Văn phòng tổng cục">
                                <option>Nguyễn Văn A</option>
                                <option>Nguyễn Văn B</option>
                                <option>Nguyễn Văn C</option>
                            </optgroup>
                            <optgroup label="Vụ Nuôi trồng thủy sản" >
                                <option>Nguyễn Văn A</option>
                                <option>Nguyễn Văn A</option>
                                <option>Nguyễn Văn B</option>
                            </optgroup>
                        </select>
                    </div>
                </div>
                <div class="form-group has-success">
                    <div class="col-md-3 control-label">Tên sự kiện công việc</div>
                    <div class="col-md-5">
                        @Html.TextBoxFor(model => model.TenKeHoach, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.TenKeHoach)
                    </div>
                </div>
                <div class="form-group has-success">
                    <div class="col-md-3 control-label">Thời gian thực hiện</div>
                    <div class="col-md-5">
                        @Html.TextBoxFor(model => model.TuNgay, new { @class = "input-group date form-control" })
                        @Html.ValidationMessageFor(model => model.TuNgay)
                        <hr />
                        @Html.TextBoxFor(model => model.DenNgay, new { @class = "input-group date form-control" })
                        @Html.ValidationMessageFor(model => model.DenNgay)
                    </div>
                </div>

                <div class="form-group has-success">
                    <div class="col-md-3 control-label">Lặp lại hàng tuần</div>
                    <div class="col-md-5">
                        @Html.CheckBoxFor(model => model.LapLai)
                        @Html.ValidationMessageFor(model => model.LapLai)
                    </div>
                </div>
                <div class="form-group has-success">
                    <div class="col-md-3 control-label">Địa điểm</div>
                    <div class="col-md-5">
                        @Html.TextBoxFor(model => model.DiaDiem, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.DiaDiem)
                    </div>
                </div>
                <div class="form-group has-success">
                    <div class="col-md-3 control-label">Nội dung KHCT</div>
                    <div class="col-md-5">
                        @Html.TextBoxFor(model => model.KeHoachCongTac, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.KeHoachCongTac)
                    </div>
                </div>

                <div class="form-group has-success">
                    <div class="col-md-3 control-label">Tham dự</div>
                    <div class="col-md-5">
                        @Html.TextBoxFor(model => model.ThamDu, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.ThamDu)
                    </div>
                </div>

                <div class="form-group has-success">
                    <div class="col-md-3 control-label">Mức độ</div>
                    <div class="col-md-6">

                        @Html.RadioButtonFor(model => model.MucDo, "1") <span style="color:red;">Rất quan trọng (SMS)</span>
                        @Html.RadioButtonFor(model => model.MucDo, "2")Quan trọng (Popup)

                        @Html.RadioButtonFor(model => model.MucDo, "3")Bình thường
                        @Html.ValidationMessageFor(model => model.MucDo)
                    </div>
                </div>



                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Tạo mới" class="btn btn-default" />
                        <a class="btn btn-default" href="/CTCaNhan">Hủy bỏ</a>
                    </div>
                </div>
            </div>
        }
    </div>

    <div class="panel-footer">
        <div>
            @Html.ActionLink("Trở lại danh sách CT cá nhân", "Index")
        </div>
    </div>
</div>
<script type="text/javascript">
    $.datetimepicker.setLocale('vi');
    $('#TuNgay').datetimepicker({

    });
    $('#DenNgay').datetimepicker({

    });

</script>