@using Share.Messages.BeScreens.SiteSetting
@model Models.AppSetting.AppSettingIndexModel
@{
    var listExcept = new List<string>
    {
        ConstKeys.SiteLogoImagePath,
        ConstKeys.SiteLogoImagePath2,
        ConstKeys.SiteLogoImagePath3,
    };
    var sessionHelper = ObjectFactory.GetInstance<ISessionHelper>();
}

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-blue">
            <div class="panel-heading">
                @string.Format(BackendMessage.List, Model.SettingType.GetEnumDesRes())
            </div>
            <div class="panel-body grid-table">
                <div class="mbm">
                    @if (sessionHelper.CanAdd(BePage.Appsettings))
                    {
                        <button class="btn btn-info" type="button" onclick="siteSetting.addNewClick()">
                            <span class="glyphicon glyphicon-plus"></span>
                            @BackendMessage.AddNew
                        </button>
                    }
                </div>
                <div class="table-responsive">
                    <table class="table table-bordered table-hover tablesorter dataTable no-footer">
                        <thead>
                            <tr>
                                @Html.Partial("BaseView/Common/_cbxDeleteHead")
                                <th class="@Html.ClassSort("Name", Model.SortBy, Model.SortDirection.Value)" onclick="siteSetting.sort(this, 'Name', '@Model.SortDirection.Value')">@SiteSetting.Name</th>
                                <th>@SiteSetting.Value</th>
                                <th class="action-col">@BackendMessage.Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model.Results.Any())
                            {
                                foreach (var item in Model.Results)
                                {
                                    <tr>
                                        @Html.Partial("BaseView/Common/_cbxDeleteRow", item.Id)
                                        <td>@item.Name</td>
                                        <td style="@(item.SettingType == AppSettingType.SiteStyleSettings ? "font-weight:bold;color:" + SiteUtils.GetFrontEndColorCode(item.Value) : string.Empty)">
                                            @if (item.Name == ConstKeys.SmtpPassword)
                                            {
                                                @("*".Repeat(10))
                                            }
                                            else
                                            {
                                                @item.Value
                                            }
                                        </td>
                                        <td>
                                            <div class="btn-group btn-group-xs">
                                                @if (!listExcept.Contains(item.Name) && sessionHelper.CanAdd(BePage.Appsettings))
                                                {
                                                    <button onclick="siteSetting.editClick('@item.Id')" class="btn btn-default" data-toggle="tooltip">@BackendMessage.Edit</button>
                                                }
                                                @if (sessionHelper.CanDelete(BePage.Appsettings))
                                                {
                                                    <button onclick="siteSetting.deleteClick('@item.Id')" class="btn btn-danger" data-toggle="tooltip">@BackendMessage.Delete</button>
                                                }
                                            </div>
                                        </td>
                                    </tr>
                                }
                            }
                            else
                            {
                                <tr>
                                    <td colspan="100">@BackendMessage.NoRecordFound</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                @Html.PaginationFor(m => m.Pagination, "siteSetting.goPage({0})", "siteSetting.changePageSize({0})")
            </div>
        </div>
    </div>
</div>
