@using Data.DataContract.BeUserDC
@using Share.Messages.BeScreens.CustomerRes
@model Models.Customer.CustomerServiceIndexModel
@{
    var dateTimeHelper = ObjectFactory.GetInstance<IDateTimeHelper>();
    var sessionHelper = ObjectFactory.GetInstance<ISessionHelper>();
    var cache = ObjectFactory.GetInstance<ICacheHelper>();
}

<div id="divNotifyCustomerService">
    @Html.Partial("EditorTemplates/_Notify")
</div>

<div class="mbm">
    @if (sessionHelper.CanAdd(BePage.Customer)
    || sessionHelper.CanAdd(BePage.PotentialCustomer)
    || sessionHelper.CanAdd(BePage.ProspectsCustomer))
    {
        <button class="btn btn-success" type="button" onclick="customer.editCustomerService(null)">
            <span class="glyphicon glyphicon-plus"></span>
            @BackendMessage.AddNew
        </button>
    }
</div>

<div class="table-responsive">
    <table class="table table-bordered table-hover tablesorter dataTable">
        <thead>
            <tr>
                @Html.Partial("BaseView/Common/_cbxDeleteHead")
                <th class="@Html.ClassSort("DateCS", Model.SortBy, Model.SortDirection.Value) w100" onclick="customer.sortVisit(this, 'DateCS', '@Model.SortDirection.Value')">@CustomerRes.Date</th>
                <th class="w100">@CustomerRes.Staff</th>
                <th>@CustomerRes.Promise</th>
                <th class="w50">@CustomerRes.Done</th>
                <th class="action-col">@BackendMessage.Action</th>
            </tr>
        </thead>
        <tbody>
            @if (Model.Results.Any())
            {
                foreach (var item in Model.Results)
                {
                    var beUser = cache.GetBeUser(item.BeUserId) ?? new BeUser();
                    <tr>
                        @Html.Partial("BaseView/Common/_cbxDeleteRow", item.Id)
                        <td class="text-center">@dateTimeHelper.ConvertToLocal(item.DateCS, sessionHelper.CurrentTimeZone).ToDateString()</td>
                        <td>@beUser.FullName</td>
                        <td>@item.Promise</td>
                        <td>@item.Done.GetEnumDesRes()</td>
                        <td>
                            <div class="btn-group btn-group-xs">
                                @if (sessionHelper.CanUpdate(BePage.Customer)
                                || sessionHelper.CanUpdate(BePage.PotentialCustomer)
                                || sessionHelper.CanUpdate(BePage.ProspectsCustomer))
                                {
                                    <button onclick="customer.editCustomerService('@item.Id')" class="btn btn-default" data-toggle="tooltip" data-original-title="@BackendMessage.Edit">@BackendMessage.Edit</button>
                                }
                                @if (sessionHelper.CanDelete(BePage.Customer)
                                || sessionHelper.CanDelete(BePage.PotentialCustomer)
                                || sessionHelper.CanDelete(BePage.ProspectsCustomer))
                                {
                                    <button onclick="customer.deleteCustomerService('@item.Id')" class="btn btn-danger" data-toggle="tooltip" data-original-title="@BackendMessage.Delete">@BackendMessage.Delete</button>
                                }
                            </div>
                        </td>
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td colspan="100">@BackendMessage.NoRecordFound</td>
                </tr>
            }
        </tbody>
    </table>
</div>
@Html.PaginationFor(m => m.Pagination, "customer.goPageCustomerService({0})", "customer.changePageSizeCustomerService({0})")
