@model Models.Customer.CustomerModel
@{
    var cache = ObjectFactory.GetInstance<ICacheHelper>();
    var beUsers = cache.GetAllBeUsers();
}
<div class="form-group">
    @Html.CustomLabelFor(m => m.AssignTo, new { @class = "col-md-2 control-label" })
    <div class="col-md-4">
        <select id="selAssignTo" multiple="multiple">
            @{
                Model.AssignTo = Model.AssignTo.ToStr().ToLower();
            }
            @foreach (var item in beUsers)
            {
                <option value="@item.Id" @(Model.AssignTo.Contains(item.Id.ToString().ToLower()) ? "selected=\"selected\"" : string.Empty)>@item.FullName</option>
            }
        </select>
    </div>
</div>

@Html.Partial("BaseView/Customer/Inc/_other")