@using Share.Messages.BeScreens.MessageSetup
@model Models.HtmlContent.HtmlContentModel

<div class="row">
    <div class="col-md-12 col-md-12">
        <div class="panel panel-blue">
            <div class="panel-heading">
                @MessageSetup.MessageSetupStr : <strong>@(((MessageCase)Model.Type).GetEnumDesRes())</strong>. @BackendMessage.Language : <strong>@SiteUtils.GetLanguageName(Model.LanguageCode)</strong>
            </div>
            <div class="panel-body">
                @using (Html.BeginForm("Save", "MessageSetup", FormMethod.Post, new { id = "formInfo", role = "form", @class = "form-horizontal" }))
                {
                    @Html.HiddenFor(m => m.Id)
                    @Html.HiddenFor(m => m.Type)
                    @Html.HiddenFor(m => m.LanguageCode)
                    @Html.HiddenFor(m => m.HtmlContentDisplayType)
                    @Html.ValidationSummary(string.Empty)
                    <div class="form-group">
                        @Html.LabelFor(m => m.Content, new { @class = "col-md-2 control-label" })
                        <div class="col-md-10">
                            @Html.TextAreaFor(m => m.Content, new { @class = "form-control" })
                        </div>
                    </div>
                        
                    <div class="form-actions">
                        <div class="col-md-offset-2 col-md-10">
                            <button onclick="htmlContent.saveClick()" class="btn btn-success" type="button">@BackendMessage.Save</button>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
