@model Site.Backend.Models.ChangePasswordModel
@using ProfileRes = Share.Messages.BeScreens.Profile.Profile;
@{
    ViewBag.Title = ProfileRes.ChangePassword;
}

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-blue">
            <div class="panel-heading">
                @ViewBag.Title
            </div>
            <div class="panel-body">
                @using (Html.BeginForm(string.Empty, string.Empty, FormMethod.Post, new { id = "formInfo", role = "form", @class = "form-horizontal"}))
                {
                    @Html.Partial("EditorTemplates/_Notify")
                    @Html.ValidationSummary(string.Empty)
                    
                    <div class="form-group">
                        @Html.CustomLabelFor(m => m.OldPassword, new { @class = "col-md-2 control-label" })
                        <div class="col-md-4">
                            @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control", autocomplete = "off" })
                        </div>
                    </div>
                   
                    <div class="form-group">
                        @Html.CustomLabelFor(m => m.NewPassword, new { @class = "col-md-2 control-label" })
                        <div class="col-md-4">
                            @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control", autocomplete = "off" })
                        </div>
                    </div>
                    
                    <div class="form-group">
                        @Html.CustomLabelFor(m => m.ConfirmNewPassword, new { @class = "col-md-2 control-label" })
                        <div class="col-md-4">
                            @Html.PasswordFor(m => m.ConfirmNewPassword, new { @class = "form-control", autocomplete = "off" })
                        </div>
                    </div>
                    
                    <div class="form-actions">
                        <div class="col-md-8 col-lg-offset-2">
                            <button onclick="administrator.saveChangePassword()" class="btn btn-success" type="button">@BackendMessage.Save</button>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

@section PageJavascript
{
    @Scripts.Render("~/js/administrator")

    <script type="text/javascript">
        $(document).ready(function () {
            administrator.initEdit({
                saveChangePasswordUrl: "@Url.Action("SaveChangePassword")"
            });
        });
    </script>
}
